---
import Layout from '../layouts/Layout.astro';

const title = "Privacy Policy";
const description = "SnapFitLabs Privacy Policy";
---

<Layout title={title} description={description}>
  <h1>Privacy Policy</h1>
  <p>I don't store any customer or usage data at all.</p>
</Layout>
